.backButton {
  background: #966fd670;
  backdrop-filter: blur(30px);
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
  width: auto;
}

.backButton:hover {
  background-color: #966fd699;
}
